/* 顶部条和侧边栏的背景色 */
.wy-nav-top,
.wy-side-nav-search,
.wy-side-nav-search .form-control {
  background-color: rgb(161, 113, 18) !important;
}

/*目录标题的颜色 */
.toctree-wrapper .caption,
.toctree-wrapper .caption a {
    color: red !important;
}
/* 改链接颜色 */
a.reference.internal {
    color: red;
}